// Colors

$primary-main: #016573;
$primary-light: #33838f;
$primary-dark: #004650;

$secondary-main: #C86143;
$secondary-light: #d38068;
$secondary-dark: #8c432e;

$text-color-dark: #0a1d17;
$text-color-light: #3f544e;

// Distances

$container-padding--mobile: 16px;
$container-padding--tablet: 24px;
$container-padding--desktop: 32px;
$heder-height-mobile: 48px;
$heder-height-desktop: 64px;
