// Colors

$primary-main: #87D068;
$primary-light: #9fd986;
$primary-dark: #5e9148;

$secondary-main: #b168d0;
$secondary-light: #c086d9;
$secondary-dark: #7b4891;

$text-color-dark: #4B4B4B;
$text-color-light: #888888;

$main-background: #F0FAFA;

// Distances

$container-padding--mobile: 16px;
$container-padding--tablet: 24px;
$container-padding--desktop: 32px;
$heder-height-mobile: 48px;
$heder-height-desktop: 64px;
