@use '../../assets/styles/utils/vars' as *;
@use '../../assets/styles/utils/mixins' as *;

.sign-up-in-form {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-background;

  border-radius: 10px;
  transition-duration: 300ms;
  z-index: 5;

  opacity: 0;

  @include on-tablet {
    width: auto;
  }

  &.active {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  & &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translate(0, 0);
    border-radius: 50%;
    transition-duration: 300ms;
    background-color: $main-background;

    &:hover {
      background-color: $main-background;
      box-shadow: 1px 1px 8px #777;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;

    transition-delay: 100ms;
    transition-duration: 300ms;

    &.active {
      opacity: 0.7;
      visibility: visible;
    }
  }

  &__sign-up {
    & .sign-up-in-form__login.MuiFormControl-root {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .MuiInputBase-root {
      width: 100%;
    }
  }
  
  &__sign-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .sign-up-in-form__login {
      width: 100%;
    }
  }

  &__fields-container {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;

    @include on-tablet {
      flex-direction: row;
      width: 400px;
    }
  }

  & &__password {
    width: 100%;
    margin: 0 auto;
  }

  &__foget {
    color: $primary-main;
    transition-duration: 300ms;

    &:hover {
      color: $secondary-main;
    }
  }
  
  &__tab {
    & .Mui-selected {
      color: $primary-light;
    }
  }

  &__error-message {
    position: absolute;
    width: max-content;
    padding: 5px;
    border-radius: 3px;
    background-color: $main-background;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    color: red;

  }
}
