@use '../../assets/styles/utils/vars' as *;
@use '../../assets/styles/utils/mixins' as *;

.comment {
  padding: 8px 12px 10px;
  width: fit-content;
  border: 1px solid $primary-light;
  border-radius: 10px 10px 10px 0;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &-author {
    color: $secondary-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-body {
    font-size: 16px;
  }

  &-tools {
    display: flex;
  }
}