@use '../../assets/styles/utils/vars' as *;
@use '../../assets/styles/utils/mixins' as *;

$underline-width: attr(data-width);

.navigation {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  
    @include on-tablet {
      column-gap: 20px;
    }
  
    @include on-desktop {
      column-gap: 24px;
    }

  & &__in-btn {
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: 300ms;
    color: $main-background;
  }

  &__links {
    flex: 1;
    display: flex;
    column-gap: 20px;
    align-items: center;

    @include on-tablet {
      column-gap: 30px;
    }

    @include on-desktop {
      column-gap: 40px;
    }
  }

  &__pages {
    display: flex;
    column-gap: 16px;
    align-items: center;
    height: 100%;

    @include on-tablet {
      column-gap: 20px;
    }

    @include on-desktop {
      column-gap: 24px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 10px 0;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    transition-duration: 300ms;
    color: $text-color-dark;
    z-index: 2;

    @include on-tablet {
      font-size: 16px;
    }

    @include on-desktop {
      font-size: 20px;
    }

    &.is-active {
      font-size: 18px;

      @include on-tablet {
        font-size: 24px;
      }

      @include on-desktop {
        font-size: 30px;
      }
    }
  }

  &__logo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 18px;
    font-weight: 600;
    color: $primary-main;

    @include on-tablet {
      column-gap: 20px;
      font-size: 22px;
    }

    @include on-desktop {
      column-gap: 24px;
      font-size: 26px;
    }

    &-img {
      width: 90px;
      height: 40px;

      @include on-tablet {
        width: 110px;
        height: 61px;
      }
    
      @include on-desktop {
        width: 145px;
        height: 96px;
      }
    }


  }
}