@use '../../assets/styles/utils/vars' as *;
@use '../../assets/styles/utils/mixins' as *;

.profile {

  & &__edit-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(110%, -50%);
  }

  &__main-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image-box {
    margin-bottom: 18px;
  }

  &__sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 740px;
    margin: 0 auto 24px;

    @include on-tablet {

    }
  }

  &__name {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: $primary-main;
  }

  &__description {
    background-color: $main-background;
    line-height: 1.5;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #eee;
  }

  &__slider {
    margin-bottom: 18px;
  }

  & .swiper-wrapper {
    height: 300px;
  }

  & .swiper-button-disabled {
    opacity: 0.5;
  }

  &__add-dream-btn.MuiButton-root {
    background-color: $primary-main;
    display: block;
    margin: 0 auto;

    &:hover {
      background-color: $primary-light;
    }
  }
}