@use '../../assets/styles/utils/vars' as *;
@use '../../assets/styles/utils/mixins' as *;

.profile {
  padding: 24px 0;

  @include on-tablet {
    padding: 32px 0;
  }

  @include on-desktop {
    padding: 40px 0;
  }

  & &__edit-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(110%, -50%);
  }

  &__main-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image-box {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 18px;

    & input {
      width: 100%;
    }

    @include on-tablet {
      width: 200px;
      height: 200px;
      margin-bottom: 24px;
    }

    @include on-desktop {
      width: 240px;
      height: 240px;
      margin-bottom: 32px;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 740px;
    margin: 0 auto 24px;

    @include on-tablet {

    }
  }

  &__name {
    position: relative;
    color: $primary-main;
  }

  &__description {
    background-color: $main-background;
    line-height: 1.5;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #eee;
  }

  &__slider {
    margin-bottom: 18px;
  }

  & .swiper-wrapper {
    height: 300px;
  }

  & .swiper-button-disabled {
    opacity: 0.5;
  }

  &__add-dream-btn {
    height: 100%;
    padding: 50px 0;
    align-self: center;
    letter-spacing: 2px;

    &:hover {
      background-color: $primary-light;
    }
  }

  &__dreams-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}