
@use './assets/styles/utils/nullstyle' as *;
@use './assets/styles/utils/fonts' as *;
@use './assets/styles/utils/vars' as *;
@use './assets/styles/utils/mixins' as *;
@use './assets/styles/page.module' as *;


@use './components/SingUpInForm/SingUpInForm.module' as *;
@use './components/Header/Header.module' as *;
@use './components/NavMenu/NavMenu.module' as *;
@use './components/Footer/Footer.module' as *;
@use './components/DreamCart/DreamCart.module' as *;
@use './pages/DreamsGalleryPage/DreamsGalleryPage.module' as *;
@use './pages/DreamPage/DreamPage.module' as *;
@use './components/Comment/Comment.module' as *;
@use './pages/ProfilePage/ProfilePage.module' as *;
@import 'swiper/css';
@import 'swiper/css/navigation';
