@use './utils/vars' as *;
@use './utils/mixins' as *;

.page {
  scroll-behavior: smooth;
  
  &__body {
    overflow-y: scroll;

    & .container {
      max-width: 1440px;
      padding: 0 16px;
      margin: 0 auto;

      @mixin on-tablet {
        padding: 0 $container-padding--tablet;
      }

      @mixin on-desktop {
        padding: 0 $container-padding--desktop;
      }

      @mixin on-design {
        padding: 0;
      }
    }

    & .wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    & .main {
      flex-grow: 1;
    }

    & .title {
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      color: $primary-main;

      @mixin on-tablet {
        font-size: 48px;
      }

      @mixin on-desktop {
        font-size: 58px;
      }
    }
  }

  &__section {
    padding: 24px 0;
    
    @include on-tablet {
      padding: 32px 0;
    }
  
    @include on-desktop {
      padding: 40px 0;
    }
  }
}